canvas {
  display: block;
	border: solid 1px black;
  margin: auto;
}

#canvas-container {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}

#overlay-container {
  position: absolute;
  top: 300px;
  width: 100%;
  margin: auto;
}

#game-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}